<form action="new_campaign" method="post">
	<label> campaign target :  </label>
	<input type="text" value="" name="original_amount_pledged"/> Rs.<br>
	<label> your Contribution :  </label>
	<input type="text" value"" name="amount_contributed"/> Rs.<br>
	<input type="submit" name="commit" value="Start campaign"/>
</form>	